In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('Drug_Data.csv')

In [3]:
df

,drugName,Prescribed_for,Drug_Review,User_Rating,Date,Count_of_Reviews
0,Mirtazapine,Depression,"""I&#039;ve tried a few antidepressants over th...",10,28-Feb-12,22
1,Mesalamine,"Crohn's Disease, Maintenance","""My son has Crohn&#039;s disease and has done ...",8,17-May-09,17
2,Bactrim,Urinary Tract Infection,"""Quick reduction of symptoms""",9,29-Sep-17,3
3,Contrave,Weight Loss,"""Contrave combines drugs that were used for al...",9,05-Mar-17,35
4,Cyclafem 1 / 35,Birth Control,"""I have been on this birth control for one cyc...",9,22-Oct-15,4
...,...,...,...,...,...,...
53761,Tamoxifen,"Breast Cancer, Prevention","""I have taken Tamoxifen for 5 years. Side effe...",10,13-Sep-14,43
53762,Escitalopram,Anxiety,"""I&#039;ve been taking Lexapro (escitaploprgra...",9,08-Oct-16,11
53763,Levonorgestrel,Birth Control,"""I&#039;m married, 34 years old and I have no ...",8,15-Nov-10,7
53764,Tapentadol,Pain,"""I was prescribed Nucynta for severe neck/shou...",1,28-Nov-11,20
53765,Arthrotec,Sciatica,"""It works!!!""",9,13-Sep-09,46

In [4]:
df.columns

Index(['drugName', 'Prescribed_for', 'Drug_Review', 'User_Rating', 'Date',
       'Count_of_Reviews'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53766 entries, 0 to 53765
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   drugName          53766 non-null  object
 1   Prescribed_for    53471 non-null  object
 2   Drug_Review       53766 non-null  object
 3   User_Rating       53766 non-null  int64
 4   Date              53766 non-null  object
 5   Count_of_Reviews  53766 non-null  int64
dtypes: int64(2), object(4)
memory usage: 2.5+ MB

In [6]:
df.shape

(53766, 6)

In [7]:
df.describe()

        User_Rating  Count_of_Reviews
count  53766.000000      53766.000000
mean       6.976900         27.989752
std        3.285207         36.172833
min        1.000000          0.000000
25%        4.000000          6.000000
50%        8.000000         16.000000
75%       10.000000         36.000000
max       10.000000        949.000000

In [8]:
df.isnull().sum()

drugName              0
Prescribed_for      295
Drug_Review           0
User_Rating           0
Date                  0
Count_of_Reviews      0
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df.shape

(53471, 6)

In [11]:
df.isnull().sum()

drugName            0
Prescribed_for      0
Drug_Review         0
User_Rating         0
Date                0
Count_of_Reviews    0
dtype: int64

In [12]:
df['Prescribed_for'].unique

<bound method Series.unique of 0                          Depression
1        Crohn's Disease, Maintenance
2             Urinary Tract Infection
3                         Weight Loss
4                       Birth Control
                     ...
53761       Breast Cancer, Prevention
53762                         Anxiety
53763                   Birth Control
53764                            Pain
53765                        Sciatica
Name: Prescribed_for, Length: 53471, dtype: object>

In [13]:
len(df['Prescribed_for'].unique())

708

In [14]:
df['Prescribed_for']=df['Prescribed_for'].apply(lambda x:str(x))

In [15]:
df['Prescribed_for']=df['Prescribed_for'].apply(lambda x:x=="Nan" if "comment" in x.split(" ") else x)

In [17]:
df['Prescribed_for']=df['Prescribed_for'].apply(lambda x:str(x))

In [18]:
df['Prescribed_for']=df['Prescribed_for'].apply(lambda x:x=="" if "Listed" in x.split(" ") else x)

In [19]:
df['Prescribed_for']=df['Prescribed_for'].apply(lambda x:str(x))

In [20]:
df.drop(df[df['Prescribed_for']=='False'].index,inplace=True)

In [21]:
df['Prescribed_for'].unique

<bound method Series.unique of 0                          Depression
1        Crohn's Disease, Maintenance
2             Urinary Tract Infection
3                         Weight Loss
4                       Birth Control
                     ...
53761       Breast Cancer, Prevention
53762                         Anxiety
53763                   Birth Control
53764                            Pain
53765                        Sciatica
Name: Prescribed_for, Length: 53047, dtype: object>

In [22]:
len(df['Prescribed_for'].unique())

663

In [23]:
df.shape

(53047, 6)

In [24]:
df['drugName'].unique()

array(['Mirtazapine', 'Mesalamine', 'Bactrim', ..., 'Guarana',
       'Maprotiline', 'FluMist'], dtype=object)

In [25]:
len(df['drugName'].unique())

2627

In [26]:
df['Drug_Review']

0        "I&#039;ve tried a few antidepressants over th...
1        "My son has Crohn&#039;s disease and has done ...
2                            "Quick reduction of symptoms"
3        "Contrave combines drugs that were used for al...
4        "I have been on this birth control for one cyc...
                               ...
53761    "I have taken Tamoxifen for 5 years. Side effe...
53762    "I&#039;ve been taking Lexapro (escitaploprgra...
53763    "I&#039;m married, 34 years old and I have no ...
53764    "I was prescribed Nucynta for severe neck/shou...
53765                                        "It works!!!"
Name: Drug_Review, Length: 53047, dtype: object

In [27]:
df['Drug_Review']=df['Drug_Review'].str.replace('&#039;v',' hav',regex=True)

In [28]:
df['Drug_Review']=df['Drug_Review'].str.replace('&#039;m',' am',regex=True)

In [29]:
df['Drug_Review']=df['Drug_Review'].str.replace('&#039;',"'",regex=True)

In [30]:
df['Drug_Review']

0        "I have tried a few antidepressants over the y...
1        "My son has Crohn's disease and has done very ...
2                            "Quick reduction of symptoms"
3        "Contrave combines drugs that were used for al...
4        "I have been on this birth control for one cyc...
                               ...
53761    "I have taken Tamoxifen for 5 years. Side effe...
53762    "I have been taking Lexapro (escitaploprgram) ...
53763    "I am married, 34 years old and I have no kids...
53764    "I was prescribed Nucynta for severe neck/shou...
53765                                        "It works!!!"
Name: Drug_Review, Length: 53047, dtype: object

In [31]:
df.drop('Date',axis=1,inplace=True)

In [32]:
df1=df.groupby(['drugName'])['Prescribed_for'].agg('unique')

In [33]:
df1=pd.DataFrame(df1)

In [34]:
df1.insert(1,'Index',range(0,len(df1)))

In [35]:
df1

,Prescribed_for,Index
drugName,,
A / B Otic,[Otitis Media],0
Abacavir / dolutegravir / lamivudine,[HIV Infection],1
Abacavir / lamivudine,[HIV Infection],2
Abatacept,[Rheumatoid Arthritis],3
Abilify,"[Bipolar Disorde, Schizoaffective Disorde, Dep...",4
...,...,...
ZzzQuil,[Insomnia],2622
depo-subQ provera 104,[Birth Control],2623
ella,[Emergency Contraception],2624
femhrt,"[Menstrual Disorders, Postmenopausal Symptoms,...",2625
pHisoHex,"[Skin Disinfection, Preoperative]",2626

In [36]:
df2=df.groupby(['drugName'],as_index=False)['Prescribed_for']

In [37]:
df2=pd.DataFrame(df2)

In [38]:
df2.insert(1,'Index',range(0,len(df2)))

In [39]:
df2

,0,Index,1
0,A / B Otic,0,"9091 Otitis Media Name: Prescribed_for, dty..."
1,Abacavir / dolutegravir / lamivudine,1,765 HIV Infection 4184 HIV Infection ...
2,Abacavir / lamivudine,2,7828 HIV Infection 23728 HIV Infection ...
3,Abatacept,3,14825 Rheumatoid Arthritis 18728 Rheumat...
4,Abilify,4,397 Bipolar Disorde 1059 ...
...,...,...,...
2622,ZzzQuil,2622,"51764 Insomnia Name: Prescribed_for, dtype:..."
2623,depo-subQ provera 104,2623,"45266 Birth Control Name: Prescribed_for, d..."
2624,ella,2624,532 Emergency Contraception 610 Emer...
2625,femhrt,2625,2900 Menstrual Disorders 7998 Post...
2626,pHisoHex,2626,"16138 Skin Disinfection, Preoperative Name:..."

In [40]:
df3=df.groupby(['drugName'])[['User_Rating']].mean()

In [41]:
df3.insert(1,'Index',range(0,len(df3)))

In [42]:
df3

                                      User_Rating  Index
drugName
A / B Otic                              10.000000      0
Abacavir / dolutegravir / lamivudine     9.000000      1
Abacavir / lamivudine                   10.000000      2
Abatacept                                6.500000      3
Abilify                                  6.123288      4
...                                           ...    ...
ZzzQuil                                  1.000000   2622
depo-subQ provera 104                   10.000000   2623
ella                                     7.700000   2624
femhrt                                   9.000000   2625
pHisoHex                                10.000000   2626

[2627 rows x 2 columns]

In [43]:
df4=df.groupby(['drugName'])[['Count_of_Reviews']].sum()

In [44]:
df4.insert(1,'Index',range(0,len(df4)))

In [45]:
df4

                                      Count_of_Reviews  Index
drugName
A / B Otic                                          18      0
Abacavir / dolutegravir / lamivudine               251      1
Abacavir / lamivudine                               11      2
Abatacept                                          175      3
Abilify                                           5803      4
...                                                ...    ...
ZzzQuil                                              1   2622
depo-subQ provera 104                                1   2623
ella                                               192   2624
femhrt                                              37   2625
pHisoHex                                             0   2626

[2627 rows x 2 columns]

In [46]:
df_f=pd.merge(df2,df1)

In [47]:
df_f=pd.merge(df_f,df3)

In [48]:
df_f=pd.merge(df_f,df4)

In [49]:
df_f

,0,Index,1,Prescribed_for,User_Rating,Count_of_Reviews
0,A / B Otic,0,"9091 Otitis Media Name: Prescribed_for, dty...",[Otitis Media],10.000000,18
1,Abacavir / dolutegravir / lamivudine,1,765 HIV Infection 4184 HIV Infection ...,[HIV Infection],9.000000,251
2,Abacavir / lamivudine,2,7828 HIV Infection 23728 HIV Infection ...,[HIV Infection],10.000000,11
3,Abatacept,3,14825 Rheumatoid Arthritis 18728 Rheumat...,[Rheumatoid Arthritis],6.500000,175
4,Abilify,4,397 Bipolar Disorde 1059 ...,"[Bipolar Disorde, Schizoaffective Disorde, Dep...",6.123288,5803
...,...,...,...,...,...,...
2622,ZzzQuil,2622,"51764 Insomnia Name: Prescribed_for, dtype:...",[Insomnia],1.000000,1
2623,depo-subQ provera 104,2623,"45266 Birth Control Name: Prescribed_for, d...",[Birth Control],10.000000,1
2624,ella,2624,532 Emergency Contraception 610 Emer...,[Emergency Contraception],7.700000,192
2625,femhrt,2625,2900 Menstrual Disorders 7998 Post...,"[Menstrual Disorders, Postmenopausal Symptoms,...",9.000000,37
2626,pHisoHex,2626,"16138 Skin Disinfection, Preoperative Name:...","[Skin Disinfection, Preoperative]",10.000000,0

In [50]:
df_f.drop(1,axis=1,inplace=True)

In [51]:
df_f

,0,Index,Prescribed_for,User_Rating,Count_of_Reviews
0,A / B Otic,0,[Otitis Media],10.000000,18
1,Abacavir / dolutegravir / lamivudine,1,[HIV Infection],9.000000,251
2,Abacavir / lamivudine,2,[HIV Infection],10.000000,11
3,Abatacept,3,[Rheumatoid Arthritis],6.500000,175
4,Abilify,4,"[Bipolar Disorde, Schizoaffective Disorde, Dep...",6.123288,5803
...,...,...,...,...,...
2622,ZzzQuil,2622,[Insomnia],1.000000,1
2623,depo-subQ provera 104,2623,[Birth Control],10.000000,1
2624,ella,2624,[Emergency Contraception],7.700000,192
2625,femhrt,2625,"[Menstrual Disorders, Postmenopausal Symptoms,...",9.000000,37
2626,pHisoHex,2626,"[Skin Disinfection, Preoperative]",10.000000,0

In [52]:
df_f.rename(columns={0:"DrugName"},inplace=True)

In [53]:
main=df_f.set_index('Index')

In [54]:
main

,DrugName,Prescribed_for,User_Rating,Count_of_Reviews
Index,,,,
0,A / B Otic,[Otitis Media],10.000000,18
1,Abacavir / dolutegravir / lamivudine,[HIV Infection],9.000000,251
2,Abacavir / lamivudine,[HIV Infection],10.000000,11
3,Abatacept,[Rheumatoid Arthritis],6.500000,175
4,Abilify,"[Bipolar Disorde, Schizoaffective Disorde, Dep...",6.123288,5803
...,...,...,...,...
2622,ZzzQuil,[Insomnia],1.000000,1
2623,depo-subQ provera 104,[Birth Control],10.000000,1
2624,ella,[Emergency Contraception],7.700000,192
2625,femhrt,"[Menstrual Disorders, Postmenopausal Symptoms,...",9.000000,37
2626,pHisoHex,"[Skin Disinfection, Preoperative]",10.000000,0

In [55]:
main.describe()

       User_Rating  Count_of_Reviews
count  2627.000000       2627.000000
mean      7.335389        570.160640
std       2.288813       1667.596715
min       1.000000          0.000000
25%       6.052571         14.000000
50%       7.777778         67.000000
75%       9.000000        333.000000
max      10.000000      24554.000000

In [56]:
reviews=df[['drugName','Drug_Review','User_Rating','Count_of_Reviews']]

In [57]:
reviews

,drugName,Drug_Review,User_Rating,Count_of_Reviews
0,Mirtazapine,"""I have tried a few antidepressants over the y...",10,22
1,Mesalamine,"""My son has Crohn's disease and has done very ...",8,17
2,Bactrim,"""Quick reduction of symptoms""",9,3
3,Contrave,"""Contrave combines drugs that were used for al...",9,35
4,Cyclafem 1 / 35,"""I have been on this birth control for one cyc...",9,4
...,...,...,...,...
53761,Tamoxifen,"""I have taken Tamoxifen for 5 years. Side effe...",10,43
53762,Escitalopram,"""I have been taking Lexapro (escitaploprgram) ...",9,11
53763,Levonorgestrel,"""I am married, 34 years old and I have no kids...",8,7
53764,Tapentadol,"""I was prescribed Nucynta for severe neck/shou...",1,20
53765,Arthrotec,"""It works!!!""",9,46

In [58]:
main['Prescribed_for']=main['Prescribed_for'].apply(lambda x:str(x))

In [59]:
#Import TfIdfVectorizer from scikit-learn
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')


#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(main['Prescribed_for'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(2627, 838)

In [60]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [61]:
pd.DataFrame(cosine_sim)

,0,1,2,3,4,5,6,7,8,9,...,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626
0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.310517,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.310517,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.141751,0.177724,0.0,0.0,0.0,...,0.562802,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,1.0,0.0,0.0,0.0,0.0
2623,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,1.0,0.0,0.0,0.0
2624,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,1.0,0.0,0.0
2625,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0,0.0
2626,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.094792,0.0,0.0,0.0,0.0,1.0

In [166]:
# Function that takes in movie title as input and outputs most similar drugs
def get_recommendations(title, cosine_sim=cosine_sim):
    # Get the index of the drug that matches the title
    idx=main.loc[main['DrugName']==title].index[0]

    # Get the pairwsie similarity scores of all drugs with that drug
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the drugs based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar drugs
    sim_scores = sim_scores[1:10]

    # Get the drug indices
    Drug_indices = [i[0] for i in sim_scores]
    
    #Sorting again based on Review Rating and Count_of_Reviews
    Drug_indices=main.iloc[Drug_indices][main['Count_of_Reviews']>67] .sort_values(by='User_Rating',ascending=False).index
    

    # Return the top 10 most similar drugs
    return main['DrugName'].iloc[Drug_indices]

In [167]:
get_recommendations('Femara')

C:\Users\keert\AppData\Local\Temp\ipykernel_24088\392382054.py:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Drug_indices=main.iloc[Drug_indices][main['Count_of_Reviews']>67] .sort_values(by='User_Rating',ascending=False).index

Index
2256      Tamoxifen
1330      Letrozole
1045    Fulvestrant
206        Arimidex
1177        Ibrance
Name: DrugName, dtype: object

In [168]:
get_recommendations('femhrt')

C:\Users\keert\AppData\Local\Temp\ipykernel_24088\392382054.py:19: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  Drug_indices=main.iloc[Drug_indices][main['Count_of_Reviews']>67] .sort_values(by='User_Rating',ascending=False).index

Index
180                                        Angeliq
590     Conjugated estrogens / medroxyprogesterone
57                                       Activella
1712                                        Ocella
1076                             Gildess Fe 1 / 20
Name: DrugName, dtype: object

In [169]:
import pickle

In [172]:
pickle.dump(cosine_sim,open('drug.pkl','wb'))

In [174]:
pic=pickle.load(open('drug.pkl','rb'))

In [176]:
pd.DataFrame(pic)

,0,1,2,3,4,5,6,7,8,9,...,2617,2618,2619,2620,2621,2622,2623,2624,2625,2626
0,1.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.310517,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.310517,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.141751,0.177724,0.0,0.0,0.0,...,0.562802,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2622,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,1.0,0.0,0.0,0.0,0.0
2623,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,1.0,0.0,0.0,0.0
2624,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,1.0,0.0,0.0
2625,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,1.0,0.0
2626,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.094792,0.0,0.0,0.0,0.0,1.0